@media screen and (min-width: 1024px) {
	.foo {
		critical-selector: this;
    	critical-filename: multiple.critical.actual.css;
		display: flex;
		width: calc(100% - 200px);
	}

	.bar {
		border: 10px solid gold;
		height: 100%;
	}

	.baz::before {
		content: 'test';
		position: fixed;
	}
}
