.foo {
  border: 3px solid gray;
  display: flex;
  critical-selector: scope;
  padding: 1em;
}

.foo a {
  color: blue;
  text-decoration: none;
}

.foo .bar {
  content: 'testing';
  width: calc(100% - 20px);
}
